# Personal VSCode settings and other non-essentials
.vscode/

# Executable
spade

# Haskell
stack.yaml.lock
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# AlexerGen outputs
SpadeLexer.hs
SpadeLexer.x

# Happy outputs
SpadeParser.hs
SpadeParser.info

# Patch
*.orig
